#**
This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use,
modify and/or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info".

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability.

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or
data to be ensured and, more generally, to use and operate it in the
same conditions as regards security.

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
*#

#**
Template Velocity de la page d'affichage d'un thésaurus (ConceptScheme SKOS) :
"/page/<id ConceptScheme>".
Paramètres:
 - baseUri    - URL de base du site
 - locale     - Locale pour l'affichage (format date, ordre tri...)
 - resolver   - UriResolver permettant la traduction entre URI RDF et URL
 - it         - L'objet ConceptScheme charger depuis le triple store RDF
*#

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
#set( $title = $esc.html($text.contact.title.insert($it.getLabel($locale).value)) )
#set( $rdfData   = $resolver.toUrl('../data', $id) )

<html xmlns="http://www.w3.org/1999/xhtml" #namespaces_decl() xml:lang="fr">
	<head>
    	<title>$title</title>
    	#parse( "/head_commons.vm" )
		#head_links()
	</head>
	
	  #body_class()
      #parse( "menu_banner.vm" )
       <div id="ThesaurusW">
		    <h1 class="noSubheader">$title</h1>
		    
		    <div id="subheader">
		    	<a href="${baseUri}/">Accueil</a> | 
		    	<a href="$resolver.toUrl($it.uri)">$esc.html($it.getLabel($locale).value)</a>
		    </div>
		    
		    #if($success)
		    <p class="success">$esc.html($text.get("$success"))</p>
		    #end
		    
		    #if($errors.isEmpty() ==  false)
		    <ul id="errors">$esc.html($text.contact.error.title)
		    #foreach($error in $errors)
		    <li>$esc.html($text.get("$error"))</li>
		    #end
		    </ul>
		    #end
		
			<form id="contact" method="POST" enctype="multipart/form-data">
		
			#** Colonne de droite *#
		    <div id="metadata">    	
				<h2>$esc.html($text.contact.attachments)</h2>
				
				#set($start = 0)
				#set($end = $nbAttachments - 1)
				#foreach($i in [$start..$end])
				<p><input type="file" name="file" /></p>
				#end
				
				<p class="limit">$esc.html($text.contact.attachments.limit.insert($attachmentsMaxSizeMo))</p>
		    </div>
		
				<input type="hidden" name="check" />
		
				<p class="form-item from"><label for="from">$esc.html($text.contact.from)</label>
				<input type="text" name="from" value="$from" /></p>
				
				<p class="form-item name"><label for="name">$esc.html($text.contact.name)</label>
				<input type="text" name="name" value="$name" /></p>
				
				<p class="form-item subject"><label for="subject">$esc.html($text.contact.subject)</label>
				<input type="text" name="subject" value="$subject" /></p>
				
				<p class="form-item message"><label for="message">$esc.html($text.contact.message)</label>
				<textarea name="message">$message</textarea></p>
				
				<p class="form-item copy"><label for="copy">$esc.html($text.contact.copy)</label>
				<input type="checkbox" name="copy" #if($copy) checked="checked"#end value="true" /></p>
				
				#if($reCaptchaPublicKey)
				<p class="form-item captcha">
					<script type="text/javascript"
				     src="http://www.google.com/recaptcha/api/challenge?k=$reCaptchaPublicKey">
				  </script>
				  <noscript>
				     <iframe src="http://www.google.com/recaptcha/api/noscript?k=$reCaptchaPublicKey"
				         height="300" width="500" frameborder="0"></iframe><br>
				     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
				     </textarea>
				     <input type="hidden" name="recaptcha_response_field"
				         value="manual_challenge">
				  </noscript>
				</p>
				#end
				
				<p class="form-item submit"><input type="submit" value="$esc.html($text.contact.send)" /></p>
			
			</form>
		    
	    #footer_start()
		 <li>$esc.html($text.resource.data)<ul class="sublinks">
				<li><a href="${rdfData}">$esc.html($text.resource.data.rdf)</a></li>
				<li><a href="${rdfData}?format=N3">$esc.html($text.resource.data.n3)</a></li>
				<li><a href="${rdfData}?format=TURTLE">$esc.html($text.resource.data.turtle)</a></li>
		</ul></li>
		<li>$esc.html($text.conceptScheme.download)<ul class="sublinks">
				<li><a href="${rdfData}?includeSchemes=true">$esc.html($text.conceptScheme.download.rdf)</a></li>
				<li><a href="${rdfData}?includeSchemes=true&format=N3">$esc.html($text.conceptScheme.download.n3)</a></li>
				<li><a href="${rdfData}?includeSchemes=true&format=Turtle">$esc.html($text.conceptScheme.download.turtle)</a></li>
		</ul></li>
		#footer_end($it.getOrganisation() $it.getOrganisationHomepage() $it.getSeeMoreUrl() $it $it.getOrganisationMbox())
		     </div>
	</body>
</html>