<?xml version="1.0" encoding="UTF-8"?>
<!-- 
This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can use,
modify and/or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info".

As a counterpart to the access to the source code and rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors have only limited
liability.

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth computer knowledge. Users are therefore
encouraged to load and test the software's suitability as regards their
requirements in conditions enabling the security of their systems and/or
data to be ensured and, more generally, to use and operate it in the
same conditions as regards security.

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms.
-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="defaultLog" class="org.apache.log4j.FileAppender">
    <param name="file"   value="${catalina.base}/logs/@app.name@.log"/>
    <param name="append" value="false"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="conversionPattern" value="%d{ISO8601}|%p|%c{1}|%m%n"/>
    </layout>
  </appender>
  <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
    </layout> 
  </appender> 
  
  
  <!-- Thesaurus application -->
  <logger name="fr.gouv.culture.thesaurus">
    <level value="info"/>
  </logger>
  <!-- Apache Velocity template engine -->
  <logger name="com.atosorigin.jersey">
    <level value="info"/>
  </logger>
  <logger name="org.apache.velocity">
    <level value="info"/>
  </logger>
  <logger name="httpclient.wire">
    <level value="warn"/>
  </logger>
  <logger name="org.apache.commons">
    <level value="warn"/>
  </logger>

  <root>
    <level value="info"/>
    <appender-ref ref="console"/>
    <appender-ref ref="defaultLog"/>
  </root>

</log4j:configuration>
